body {
  background-color: #f6f5f3;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.banner {
  background-color: #44a0d8;

  height: 10vh;
  width: 100%;
}

.form-container {
  background-color: #e4e6e5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 25vh 35vw 0vh 35vw;
  /* height: 70vh; */
}
